header.header {
    background-color: #f5f5f5;
    padding: 0px 15px;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: var(--shadow);
    display: flex;
    justify-content: center;
}

header.header h1 {
    font-size: 1.8em;;
}